.FileUpload {
    margin: 0 auto;
    width: 50%;
    margin-top: 10%;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding: 1%;
    align-items: center;
}

img {
    width: 60%;
    margin: 0 auto;
}

.Dropzone {
    padding: 10%;
    background-color: beige;
    border-radius: 5px;
    margin-bottom: 3%;
}