
@import url('https://fonts.googleapis.com/css?family=Monoton');



.Menu {
  width: 70%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 15%;
  }

.Nav {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    position:fixed;
    z-index:1;
    align-items: center;
}

.Nav-menus {
    border: 2px solid lightgray;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 70%;
    margin: auto;
    align-items: center; /* Centres children vertically */
    justify-content: space-between;  
  }

  .Nav-brand-name {
    font-family: 'Monoton', cursive;
    font-size: 3vw;
    font-weight: normal;
    color: black;
    padding: 15px !important;
  }

  a:link {
    text-decoration: none;
  }

  .Nav-right {
    border: 2px solid black;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 40%;
    align-items: center !important; /* Centres children vertically */  
    justify-content: flex-end;
  }

  #header-profile {
    padding: 10%;
    height: 25%;
  }

  #log-btn {
  font-size: 1.5vw;
   padding: 10px;
  } 

  .NF{
    margin: 0 auto;
    width: 50%;
    margin-top: 20%;
  }
  .NF-head{
   text-align: center;
   font-size: 25px;
  }

  .NF-body{
    text-align: center;
   }

  @media only screen and (max-width: 850px) {
    .item {
      padding: 5px !important;
    }
    .Menu {
      width: auto;
      left: 0%;
    }
    #addImg {
      display: none
    }

    #Logout {
      font-size: 3vw;
    }

    .Nav-brand-name {
      display: none;
    }
  }


