
@import url('https://fonts.googleapis.com/css?family=Monoton');

.Nav {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    -webkit-transition: height 0.2s ease-in-out; /* for Safari */
    transition: height 0.2s ease-in-out;
}

.Nav-menus {
    border: 2px solid #e6e6e6;
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 70%;
    margin: auto;
    align-items: center; /* Centres children vertically */
  }

  .Nav-brand-logo {
    font-family: 'Monoton', cursive;
    color: orange; 
    font-size: 50px;
    height: 35px;
    width: 176px;
  }

  a:link {
    text-decoration: none;
  }
  