* {
    font-family: Helvetica, 'PT Sans', sans-serif;
}

.Post {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin: auto;
    width: 50%;
    margin-top: 6%;

  }

   .Post-user {
      display: flex;
      padding: 16px;
      align-items: center;
    }

    .Post-user-name {
      font-family: Helvetica, 'PT Sans', sans-serif !important;
      font-size: 100% !important;
    } 

      .Post-image-bg {
        background-color: #efefef;
      }

      .Post-image img {
        display: block;
        width: 100%;
      }

      .Post-caption {
        padding: 16px 16px;
        font-weight: normal;
      }

      ul {
        list-style-type: none;
      }

      .Search {
        width: 5px;
        margin: auto;
        padding: 10px;
      }

      #like-btn-div {
        padding: 10px !important;
      }

      li{
        font-weight: normal;
      }

      .Comment {
        width: 100% !important;
      }

      #Form {
        padding: 1%;
      }

      #grey-like-btn {
        color:white;
        background-color: grey;
      }

      #red-like-btn {
        color:white;
        background-color:red;
      }

      #profile-picture {
        width: 60px !important;
        height: 60px !important;
        object-fit: cover !important;
        border-radius: 50% !important; 
    }

    @media only screen and (max-width: 850px) {
    .Post {
      width: 76%;
      margin-right: 10px;
      }
    }
  