* {
    font-family: Helvetica, 'PT Sans', sans-serif;
    font-weight: bold;
}

.Profile-container {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin: auto;
    width: 50%;
    margin-top: 10%;
  }

.Header {
    display: flex;
    padding: 16px;
    align-items: center;
    background-color: aquamarine;
    justify-content: space-between; 
}

.Profile-name {
font-family: Helvetica, 'PT Sans', sans-serif !important;
font-size: 1.5vw !important;
} 

ul {
list-style-type: none;
}

.Profile-info {
    display: flex;
    padding: 16px;
    justify-content: space-between;
}


     