* {
    font-family: Helvetica, 'PT Sans', sans-serif;
    font-weight: bold;
}

.Profile-container {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin: auto;
    width: 50%;
    margin-top: 8%;
  }

.Header {
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    padding: 4%;
    align-items: center;
    justify-content: space-between; 
    background-color: #00b5ad;
}

.Profile-name {
font-family: Helvetica, 'PT Sans', sans-serif !important;
color:white !important;
} 

ul {
list-style-type: none;
}

.Profile-info {
    display: flex;
    padding: 3% 8% 3% 8%;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

#profile-picture{
    width: 60px !important;
    height: 60px !important;
    object-fit: cover !important;
    border-radius: 50% !important; 
}

.Grid-row {
    padding: 5% !important;
}

.ui.image {
    width: 100%;
}

#grid-row-mobile {
    display: none;
}

@media only screen and (max-width: 850px) {
.ui.button {
    font-size: 1rem;
}
#grid-row-mobile {
    display: block;
}
#grid-row-desktop {
    display: none;
}

}
     